RHT_OCP4_MASTER_API=https://api.eu410.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.eu410.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.eu410.prod.nextcle.com
RHT_OCP4_DEV_USER=pyzlww
RHT_OCP4_DEV_PASSWORD=5a7d318a5280415094a4
RHT_OCP4_GITHUB_USER=okilian
RHT_OCP4_QUAY_USER=okilian
